In [1]:
import sqlite3

In [3]:
connector = sqlite3.connect('data/zmones.db')
cursor = connector.cursor()

query = '''
CREATE TABLE IF NOT EXISTS draugai (
    first_name VARCHAR(50),
    last_name VARCHAR(100),
    email VARCHAR(255)
);
'''

cursor.execute(query)
connector.commit()
connector.close()

In [15]:
# susijungiame su duomenų baze
connector = sqlite3.connect("data/zmones.db")

In [24]:
# duomenų įterpimas
query = '''
INSERT INTO draugai
(first_name, last_name, email)
VALUES
("Geras", "Programuotojas", "coder@gmail.com")
'''

# context manager'is atidaro DB, atlieka reikiamus commit, ir uždaro
with connector:
    connector.cursor().execute(query)

In [25]:
# skaitom duomenų bazę (po vieną)
with connector:
    # kursorių reikia pasiimti į kintamąjį, nes jame nugula rezultato generatorius
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM draugai;")
    print(cursor.fetchone())
    print(cursor.fetchone())
    print(cursor.fetchone())

('Smagus', 'Gerulis', 'gerulis@gmail.com')
('Geras', 'Smagulis', 'smagulis@gmail.com')
('Geras', 'Programuotojas', 'coder@gmail.com')

In [28]:
from pprint import pprint
# nuskaitome visus duomenis į sarašą su .fetchall()
with connector:
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM draugai;")
    pprint(cursor.fetchall())

[('Smagus', 'Gerulis', 'gerulis@gmail.com'),
 ('Geras', 'Smagulis', 'smagulis@gmail.com'),
 ('Žalias', 'Programuotojas', 'coder@gmail.com')]

In [16]:
# taisom situaciją
with connector:
    cursor = connector.cursor()
    cursor.execute("DELETE FROM draugai WHERE rowid > 1;")
    cursor.execute("SELECT * FROM draugai;")
    print(cursor.fetchall())

[('Smagus', 'Gerulis', 'gerulis@gmail.com')]

In [27]:
# įrašų atnaujinimas
with connector:
    cursor = connector.cursor()
    cursor.execute('UPDATE draugai SET first_name="Žalias" WHERE last_name="Programuotojas"')
    cursor.execute('SELECT * FROM draugai;')
    print(cursor.fetchall())

[('Smagus', 'Gerulis', 'gerulis@gmail.com'), ('Geras', 'Smagulis', 'smagulis@gmail.com'), ('Žalias', 'Programuotojas', 'coder@gmail.com')]

In [29]:
nauji_draugai = [
    ('Naujas', 'Draugelis', 'naujas@draugelis.lt'),
    ('Grazi', 'Mergaite', 'grazuole@gmail.com'),
    ('Senas', 'Diedulis', 'diedux@yahoo.coom'),
]

with connector:
    cursor = connector.cursor()
    cursor.executemany('INSERT INTO draugai VALUES (?, ?, ?)', (nauji_draugai))

In [32]:
ids = (1, 3, 5, 7)

with connector:
    cursor = connector.cursor()
    cursor.execute('SELECT rowid, * FROM draugai WHERE rowid IN (?, ?, ?, ?)', ids)
    draugai = cursor.fetchall()
    for draugas in draugai:
        print(f'- {draugas}')

- (1, 'Smagus', 'Gerulis', 'gerulis@gmail.com')
- (3, 'Žalias', 'Programuotojas', 'coder@gmail.com')
- (5, 'Grybas', 'Fungauskas', 'grybas@fungus.net')
- (7, '"', 'Kabutinis', 'kabutinis@geras.lt')